<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/templates/page.xhtml">
    <ui:define name="pageTitle">
        Welcome to Booking Management!
    </ui:define>

    <ui:define name="body">
        To start using application please chose right section from the Menu, on the left side.
    </ui:define>
</ui:composition>