.assistance-menu {
  height: 60px;
}

.main-content {
  display: inline-flex;
  width: 100%
}

.main-content form {
  padding: 0 10px;
}

.assistance-menu {
  width: 100%;
  background: #f5f8f9 url(/bm-web-1.0-SNAPSHOT/javax.faces.resource/images/ui-bg_inset-hard_100_f5f8f9_1x100.png.xhtml?ln=primefaces-redmond) 50% 50% repeat-x;
}

.assistance-menu .user-info {
  color: #e17009;
  padding-right: 10px;
}

.assistance-menu .user-info-container {
  float: right;
  height: 60px;
  line-height: 60px;
  padding-right: 10px;
}

.assistance-menu .logo img {
  height: 50px;
  margin-left: 100px;
  margin-top: 5px;
}

.assistance-menu .logo, .menu {
  width: 265px;
}

.menu .bm-submenu h3 {
  pointer-events: none;
}

.bm-submenu h3 span {
  display: none;
}

td.edit-row, th.edit-row {
  width: 32px;
}

table tr td.edit-row {
  display: inline-flex;
  border: none;
  margin-top: 5px;
}

td.edit-row .delete-row {
  border: none;
  background: none;
  max-width: 18px;
  line-height: 15px;
  height: 15px;
}

.ui-row-editing .edit-row {
  margin-top: 7px;
}

.ui-row-editing td.edit-row .delete-row {
  display: none;
}

.ui-editable-column .ui-cell-editor-output .ui-calendar input {
  opacity: 1;
  border: none;
  box-shadow: none;
  font-size: medium;
  color: black;
}

.ui-cell-editor-input {
  padding: 5px;
}

.ui-cell-editor-input input {
  width: 100%;
}

.tracking-panel {
  width: 100%;
  height: 315px;
}

.tracking-panel .ui-panelgrid-cell {
  display: flex;
  justify-content: center;
}

.tracking-panel .image-section {
  height: 280px;
  position: relative;
}

.tracking-panel .image-section img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ui-growl-info .ui-growl-item {
  background-color: #9CCC65;
  border-color: #9CCC65
}

.ui-growl-warn .ui-growl-item {
  background-color: #fad42e;
  border-color: #fad42e
}

.date-select {
  position: relative;
  height: 240px;
  display: block;
}

.date-select .hasDatepicker {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.footer-red {
  background-color: red;
  width: calc(100% + 22px);
  height: 31px;
  line-height: 31px;
  display: block;
  border: 0;
  margin-left: -11px;
  margin-top: -5px;
  margin-bottom: -5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.footer-normal {
  background-color: transparent;
}

.search-criteria.ui-panelgrid .ui-panelgrid-cell{
    border-width: 0;
}