<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">

<h:head>
    <title>BM Login Form</title>
</h:head>

<h:body>
    <p:messages id="messages" showDetail="true" closable="true"/>
    <h:form>
        <div style="margin-left: 39vw;margin-top: 35vh;">
            <h2>Login Form</h2>
            <p:outputLabel for="username" value="Username"/>
            <p:inputText id="username" value="#{loginService.username}" required="true"/>
            <p:message for="username"/>
            <br/>
            <p:outputLabel for="password" value="Password"/>
            <p:password id="password" value="#{loginService.password}" required="true"/>
            <p:message for="password"/>
            <br/>
            <p:commandButton value="Login" action="#{loginService.login}" update="messages"/>
        </div>
    </h:form>
</h:body>
</html>