<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                template="/templates/page.xhtml">
    <ui:define name="pageTitle">
        Employee Administration
    </ui:define>

    <ui:define name="body">
        <p:dataTable id="table" styleClass="table" var="employee" value="#{employeeController.employees}"
                     editable="true"
                     widgetVar="table">
            <p:ajax event="rowEdit" listener="#{employeeController.onRowEdit}"/>
            <p:ajax event="rowEditCancel" listener="#{employeeController.onRowCancel}"/>
            <p:column headerText="Id" style="width: 50px">
                <p:cellEditor>
                    <f:facet name="output">
                        <h:outputText value="#{employee.id}"/>
                    </f:facet>
                    <f:facet name="input">
                        <h:outputText value="#{employee.id}" style="padding-left: 10px"/>
                    </f:facet>
                </p:cellEditor>
            </p:column>

            <p:column headerText="First name">
                <p:cellEditor>
                    <f:facet name="output">
                        <h:outputText value="#{employee.firstName}"/>
                    </f:facet>
                    <f:facet name="input">
                        <p:inputText value="#{employee.firstName}" required="true"/>
                    </f:facet>
                </p:cellEditor>
            </p:column>

            <p:column headerText="Last name">
                <p:cellEditor>
                    <f:facet name="output">
                        <h:outputText value="#{employee.lastName}"/>
                    </f:facet>
                    <f:facet name="input">
                        <p:inputText value="#{employee.lastName}" required="true"/>
                    </f:facet>
                </p:cellEditor>
            </p:column>

            <p:column headerText="Date of birth">
                <p:cellEditor>
                    <f:facet name="output">
                        <p:calendar value="#{employee.birthDate}" disabled="true" pattern="dd.MM.yyyy."/>
                    </f:facet>
                    <f:facet name="input">
                        <p:calendar value="#{employee.birthDate}" required="true" pattern="dd.MM.yyyy."/>
                    </f:facet>
                </p:cellEditor>
            </p:column>

            <p:column headerText="Username">
                <p:cellEditor>
                    <f:facet name="output">
                        <h:outputText value="#{employee.username}"/>
                    </f:facet>
                    <f:facet name="input">
                        <p:inputText value="#{employee.username}" required="true"/>
                    </f:facet>
                </p:cellEditor>
            </p:column>

            <p:column headerText="Password">
                <p:cellEditor>
                    <f:facet name="output">
                        <h:outputText value="#{employeeController.getPasswordMask(employee.password)}"/>
                    </f:facet>
                    <f:facet name="input">
                        <p:inputText value="#{employee.password}" required="true"/>
                    </f:facet>
                </p:cellEditor>
            </p:column>
            <p:column styleClass="edit-row">
                <p:rowEditor/>
                <p:commandButton icon="ui-icon-close" process="@this" update="table"
                                 styleClass="delete-row"
                                 actionListener="#{employeeController.removeEmployee(employee.id)}">
                    <p:confirm header="Confirmation"
                               message="User #{employee.firstName} #{employee.lastName} is going to be deleted. Are you sure?"
                               icon="ui-icon-alert"/>
                </p:commandButton>
            </p:column>
        </p:dataTable>

        <div class="ui-g">
            <div class="ui-g-12">
                <p:commandButton value="Add new employee" styleClass="ui-priority-primary"
                                 update="table"
                                 actionListener="#{employeeController.addNewEmployee()}"
                                 oncomplete="jQuery('.table .ui-datatable-data tr').last().find('span.ui-icon-pencil').each(function(){jQuery(this).click()});"/>
            </div>
        </div>

        <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
            <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check"/>
            <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close"/>
        </p:confirmDialog>
    </ui:define>
</ui:composition>