<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                template="/templates/page.xhtml">
    <ui:define name="pageTitle">
        Tracking Administration
    </ui:define>

    <ui:define name="body">
        <p:dataTable id="table" styleClass="table" var="trackingType" value="#{trackingTypeController.trackingTypes}"
                     editable="true"
                     widgetVar="table">
            <p:column headerText="Id" style="width: 50px">
                <p:cellEditor>
                    <f:facet name="output">
                        <h:outputText value="#{trackingType.id}"/>
                    </f:facet>
                    <f:facet name="input">
                        <h:outputText value="#{trackingType.id}" style="padding-left: 10px"/>
                    </f:facet>
                </p:cellEditor>
            </p:column>

            <p:column headerText="Name" style="width: 200px;">
                <p:cellEditor>
                    <f:facet name="output">
                        <h:outputText value="#{trackingType.name}"/>
                    </f:facet>
                    <f:facet name="input">
                        <p:inputText value="#{trackingType.name}" required="true"/>
                    </f:facet>
                </p:cellEditor>
            </p:column>

            <p:column headerText="Description">
                <p:cellEditor>
                    <f:facet name="output">
                        <h:outputText value="#{trackingType.description}"/>
                    </f:facet>
                    <f:facet name="input">
                        <p:inputText value="#{trackingType.description}" required="true"/>
                    </f:facet>
                </p:cellEditor>
            </p:column>

            <p:column styleClass="edit-row">
                <p:rowEditor/>
                <p:commandButton icon="ui-icon-close" process="@this" update="table"
                                 styleClass="delete-row"
                                 actionListener="#{trackingTypeController.removeTrackingType(trackingType.id)}">
                    <p:confirm header="Confirmation"
                               message="Tracking type #{trackingType.name} is going to be deleted. Are you sure?"
                               icon="ui-icon-alert"/>
                </p:commandButton>
            </p:column>
        </p:dataTable>

        <div class="ui-g">
            <div class="ui-g-12">
                <p:commandButton value="Add new tracking type" styleClass="ui-priority-primary"
                                 update="table"
                                 actionListener="#{trackingTypeController.addNewTrackingType()}"
                                 oncomplete="jQuery('.table .ui-datatable-data tr').last().find('span.ui-icon-pencil').each(function(){jQuery(this).click()});"/>
            </div>
        </div>

        <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
            <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check"/>
            <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close"/>
        </p:confirmDialog>
    </ui:define>
</ui:composition>