<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
>

<ui:insert name="metamodel"/>
<h:head>
    <title>Booking Management</title>
    <link rel="stylesheet" media="screen" type="text/css" href="#{request.contextPath}/resources/css/layout.css"/>
</h:head>

<h:body>
    <ui:include src="/sections/assistanceBar.xhtml"/>
    <h:panelGroup id="main-content" layout="block" styleClass="main-content">
        <div>
            <ui:include src="/sections/menu.xhtml"/>
        </div>
        <h:form id="form" style="width: 100%" prependId="false">
            <p:growl id="growl" showDetail="true" sticky="true" />
            <h2 style="margin-top: 0">
                <ui:insert name="pageTitle"/>
            </h2>
            <ui:insert name="body"/>
        </h:form>
    </h:panelGroup>

</h:body>
</html>