<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
>

    <h:panelGroup layout="block" styleClass="assistance-menu">
        <span class="logo">
            <img src="../../resources/logo.png"/>
        </span>

        <span class="user-info-container">
            <span class="user-info">Welcome, #{employee.firstName} #{employee.lastName}</span>
            <p:commandButton styleClass="logout" value="Logout" action="#{loginService.logout}"/>
        </span>
    </h:panelGroup>
</ui:composition>