<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">

  <p:panelMenu styleClass="menu">
    <p:submenu label="Booking Management" expanded="true" styleClass="bm-submenu">
      <p:menuitem value="Tracking" outcome="/modules/mod-tracking/tracking" icon="fa fa-exchange"/>
      <p:menuitem value="Booking" outcome="/modules/mod-booking/booking" icon="fa fa-pencil-square-o"/>
      <p:menuitem value="Search" outcome="/modules/mod-search/search" icon="fa fa-search"/>
    </p:submenu>
    <p:submenu label="Administration">
      <p:menuitem value="Employees" icon="fa fa-user"
                  outcome="/modules/mod-administration/employee"/>
      <p:menuitem value="Projects" icon="fa fa-book"
                  outcome="/modules/mod-administration/project"/>
      <p:menuitem value="Jobs" icon="fa fa-tasks"
                  outcome="/modules/mod-administration/job"/>
      <ui:remove>
        <p:menuitem value="Trackings" icon="fa fa-exchange"
                    outcome="/modules/mod-administration/tracking"/>
      </ui:remove>
    </p:submenu>
  </p:panelMenu>
</ui:composition>