<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                template="/templates/page.xhtml">
  <ui:define name="pageTitle">
    Booking
  </ui:define>
  <ui:define name="body">
    <p:remoteCommand name="refreshFooter" update=":form:table:footer :form:table:spentTime"/>

    <p:panelGrid id="bookings" columns="1" layout="grid">
      <p:calendar id="inline" value="#{bookingController.selectedDate}" mode="inline" styleClass="date-select">
        <p:ajax event="dateSelect" listener="#{bookingController.onDateSelect}" update="table"/>
      </p:calendar>
      <!--
      **************************
              Table
      **************************
      -->
      <p:dataTable id="table" styleClass="table" var="booking" value="#{bookingController.bookings}"
                   editable="true"
                   widgetVar="table">
        <p:ajax event="rowEdit" listener="#{bookingController.onRowEdit}"/>
        <p:ajax event="rowEditCancel" listener="#{bookingController.onRowCancel}"/>
        <p:column headerText="Id" style="width: 50px">
          <p:cellEditor>
            <f:facet name="output">
              <h:outputText value="#{booking.id}"/>
            </f:facet>
            <f:facet name="input">
              <h:outputText value="#{booking.id}"/>
            </f:facet>
          </p:cellEditor>
        </p:column>

        <p:column headerText="Project" style="width: 200px;">
          <p:cellEditor>
            <f:facet name="output">
              <h:outputText value="#{booking.project.name}"/>
            </f:facet>
            <f:facet name="input">
              <p:selectOneMenu value="#{booking.project}" style="width:80%">
                <f:selectItems value="#{bookingController.projects}" var="project"
                               itemLabel="#{project.name}"
                               itemValue="#{project}"/>
                <f:converter binding="#{projectConverter}"/>
              </p:selectOneMenu>
            </f:facet>
          </p:cellEditor>
        </p:column>
        <p:column headerText="Start time" style="width: 200px;">
          <p:cellEditor>
            <f:facet name="output">
              <p:calendar value="#{booking.startTime}" disabled="true" pattern="HH:mm:ss" timeOnly="true"/>
            </f:facet>
            <f:facet name="input">
              <p:calendar value="#{booking.startTime}" required="true" pattern="HH:mm:ss" timeOnly="true">
                <p:ajax event="dateSelect" listener="#{bookingController.onStartTimeChange}" update="endTime"/>
              </p:calendar>
            </f:facet>
          </p:cellEditor>
        </p:column>
        <p:column headerText="End time">
          <p:cellEditor id="endTime">
            <f:facet name="output">
              <p:calendar value="#{booking.endTime}" disabled="true" pattern="HH:mm:ss" timeOnly="true"/>
            </f:facet>
            <f:facet name="input">
              <p:calendar value="#{booking.endTime}" pattern="HH:mm:ss" timeOnly="true"
                          minHour="#{bookingController.getMinHour(booking.startTime)}"
                          minMinute="#{bookingController.getMinMinutes(booking.startTime)}"
                          minSecond="#{bookingController.getMinSeconds(booking.startTime)}"
              >
                <p:ajax event="change" oncomplete="refreshFooter();"/>
              </p:calendar>
            </f:facet>
          </p:cellEditor>
        </p:column>
        <p:column headerText="Spent time">
          <p:cellEditor>
            <f:facet name="output">
              <h:outputText value="#{bookingController.getTimeDiff(booking)}"/>
            </f:facet>
            <f:facet name="input">
              <h:outputText id="spentTime" value="#{bookingController.getTimeDiff(booking)}"/>
            </f:facet>
          </p:cellEditor>
        </p:column>
        <p:column headerText="Job type">
          <p:cellEditor>
            <f:facet name="output">
              <h:outputText value="#{booking.jobType.name}"/>
            </f:facet>
            <f:facet name="input">
              <p:selectOneMenu value="#{booking.jobType}" style="width:80%">
                <f:selectItems value="#{bookingController.jobTypes}" var="jobType"
                               itemLabel="#{jobType.name}"
                               itemValue="#{jobType}"/>
                <f:converter binding="#{jobTypeConverter}"/>
              </p:selectOneMenu>
            </f:facet>
          </p:cellEditor>
        </p:column>
        <p:column headerText="Description">
          <p:cellEditor>
            <f:facet name="output">
              <h:outputText value="#{booking.description}"/>
            </f:facet>
            <f:facet name="input">
              <p:inputText value="#{booking.description}" required="true"/>
            </f:facet>
          </p:cellEditor>
        </p:column>
        <p:column styleClass="edit-row">
          <p:rowEditor/>
          <p:commandButton icon="ui-icon-close" process="@this" update="table"
                           styleClass="delete-row"
                           actionListener="#{bookingController.removeBooking(booking.id)}">
            <p:confirm header="Confirmation"
                       message="Booking with id #{booking.id} is going to be deleted. Are you sure?"
                       icon="ui-icon-alert"/>
          </p:commandButton>
        </p:column>
        <f:facet name="footer">
          <h:outputText id="footer" styleClass="#{bookingController.bookingFine() ? 'footer-normal' : 'footer-red'}"
                        value="Booked #{bookingController.bookedTime()} of #{bookingController.spentTime()}."/>
        </f:facet>
      </p:dataTable>
      <div class="ui-g">
        <div class="ui-g-12">
          <p:commandButton value="Add new Booking" styleClass="ui-priority-primary"
                           update="table"
                           actionListener="#{bookingController.addNewBooking()}"
                           oncomplete="jQuery('.table .ui-datatable-data tr').last().find('span.ui-icon-pencil').each(function(){jQuery(this).click()});"/>
        </div>
      </div>
    </p:panelGrid>

    <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
      <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check"/>
      <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close"/>
    </p:confirmDialog>
  </ui:define>
</ui:composition>